<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
				<string>aifc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc-aif.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
				<string>audio/x-aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AIFF Soundfile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
				<string>AIFC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
				<string>wave</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc-wav.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/wav</string>
				<string>audio/x-wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WAV Soundfile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WAVE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc-mp3.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpeg</string>
				<string>audio/x-mpeg</string>
				<string>audio/mpeg3</string>
				<string>audio/x-mpeg3</string>
				<string>audio/mpg</string>
				<string>audio/x-mpg</string>
				<string>audio/mp3</string>
				<string>audio/x-mp3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MP3 Soundfile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PLAY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc-mpeg-4.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/m4a</string>
				<string>audio/x-m4a</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 Soundfile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4A </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>Taply</string>
	<key>CFBundleExecutable</key>
	<string>Taply</string>
	<key>CFBundleIdentifier</key>
	<string>net.bluem.taply</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>tplY</string>
	<key>CFBundleVersion</key>
	<string>1.7.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>LSUIElement</key>
	<string>true</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
